body{
background:grey;
}
button{ 
border-bottom-color:red;
background:yellow;
font-size:20px;
}
#screen{
width:10%;
height:5%;
}
h1{
background:red;
}
#abc{
background:red
}
.nav{
background:red
color:white;
}